body{
	background-color: black;
	color: white;
}
#trademark{ 
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
} 
h1{	
	display: block;
	font-weight: bold;
	text-decoration: underline;
	font-family: arial;
	font-size: 50px ;
}
h2{
	text-decoration: underline;
	font-family: arial;
	font-size: 25px ;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #fffff;
}

.destaque{
	font-weight: bold;
	color: gray;
}
iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #fffff;
}