body{
	background-color: black;
	color: white;
}
#trademark{ 
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
} 
h1{	
	display: block;
	font-weight: bold;
	text-decoration: underline;
	font-family: arial;
	font-size: 50px ;
	text-align: center;
}
h2{
	text-decoration: underline;
	font-family: arial;
	font-size: 25px ;
	text-align: center;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #fffff;
}

.destaque{
	font-weight: bold;
	color: gray;
}
iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #fffff;
}
a:link {
	text-decoration: none;
	}
a:visited {
	text-decoration: red;
	}
a:hover {
	text-decoration: underline;
	text-decoration: white;
	}
a:active {
	text-decoration: gray;
	}
#externo{
	background-image: url(img/globo.png);
	background-size: 10px 10px;
    	background-repeat: no-repeat;
}
#nota{
	font-family: arial;
	font-size: 13px ;
	color: slategray;
}